<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'studentdata.css' %}">
    <title>Home -Student Data</title>
</head>
<body>  

    <p class="description">A simple pure CSS hover effect</p>
    <div class="button_container">
        <form action="register" >
        
        <button type="submit" class="btn"><span>Register Here</span></button>
        <button class="btn"><span>View Batch-wise</span></button>
        <button class="btn"><span>View Using ID</span></button>
        </form>
    </div>
</body>
</html>